.sec {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

span {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(92, 186, 223);
    font-size: larger;
    font-weight: bold;
    color: white;
}

.div1 {
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 5px;
    margin: 0px 5px;

    color: darkgrey;
}

#divplus

.sp0{
    background-color: cadetblue;
}

.sp1{
    background-color: rgb(198, 133, 218);
}

.sp2{
    background-color: rgb(123, 177, 212);
}

.sp3{
    background-color: rgb(230, 175, 113);
}

.sp4{
    background-color: rgb(228, 141, 141);
}